<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partial/meta.ejs") %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partial/data.ejs") %>
    <div>Hi this is about page.</div>
  </body>
</html>
