<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partial/meta.ejs") %>
    <title><%= title %></title>
  </head>
  <body>
    
    <h1>Hi this is index page.</h1>
    <%- include("../partial/data2.ejs") %>
    <button onclick="location.href='/Download'">Download file</button>
  </body>
</html>
